::selection{
	color: #fff;
	background: #6c757d;
}

body{
	font-family: 'Poppins', sans-serif;
}

#navMenu{
	min-height: 80px;
	@media all and (max-width: $point-sm){
		min-height: 60px;
	}
}

.navbar-nav{
	font-size: map-get($NavFontSize, "md");
	font-weight: 400;
	@media all and (max-width: $point-sm){
		font-size: map-get($NavFontSize, "sm");
	}
}

.navbar-brand img{
	height: 54px;
	padding-left: 0.5rem;
	background-size: cover;
}

#heroImg{
	background-image: url($urlImages+'heroimage_desktop.jpg');
	background-size: cover;
	height: 100vh;
	@media all and (max-width: $point-sm){
		background-image: url($urlImages+'heroimage_mobile.jpg');
	}
}

.heroTitulo{ /* Oscurece la imagen y resalta el texto */
	background: radial-gradient(circle farthest-side at center center, rgba(0,0,0,0.5) 45%, rgba(0,255,0,0) 100%);
	animation-duration: 2s;
}

.display-4{
	font-weight: 400;
}

.bg-black{
	background: #000;
}

#servicios{
	.col{
		transition: transform 0.3s ease-in-out;
		&:hover{
			transform: scale(1.05);
		}
	}
}

.w-20{
	width: 20%;
}

@media all and (max-width: $point-sm){
	.w-sm-30{
		width: 30%;
	}
}

.checkList{
	list-style: none;
	li::before {
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		content:'\f00c';
		padding-right: 0.5rem;
	}
}

.ObjFit{
	&-Cover{
		object-fit: cover;
	}
	&-Contain{
		object-fit: contain;
	}
}

.overlay{
	position: absolute;
	top: 0;
	left: 0;
	&-dark{
		background-color: rgba(0, 0, 0, 0.6);
	}
}

.hover-Scale{
	transition: transform 0.2s ease-in-out;
	&:hover{
		transform: scale(1.05);
	}
}

%customForm{
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #000;
	border-radius: 0;
}

%formFocusStyle{
	border: 1px solid #000;
	box-shadow: 0 0.2rem 0 0 rgba(170,170,170, 0.5);
}

.input-group:focus-within {
	@extend %formFocusStyle;
	*.input-group-text{
		border: none;
	}
	*.form-control{
		@extend %customForm;
		border: none;
		box-shadow: none;
	}
}

.form-select{
	background-color: transparent;
	border: 1px solid #000;
	border-radius: 0;
	&:focus{
		@extend %formFocusStyle;
	}
}

.form-check-input{
	&:focus{
		@extend %formFocusStyle;
	}
	&:checked{
		background-color: #000;
		border-color: #000;
	}
}

.input-group-text{
	@extend %customForm;
}

.form-control{
	@extend %customForm;
}

.btn{
border-radius: 0;
color: #000;
	&-primary{
		border-color: #000;
		background-color: transparent;
		&:hover, &:focus, &:active{
			border-color: #000;
			background-color: #000;
		}
		&:focus, &:focus:active{
			box-shadow: 0 0 0 0.2rem rgba(170,170,170, 0.5);
		}
	}
}

.contactBtn{
	text-decoration: none;
	color:#212529;
	&.fa-whatsapp-square:hover{
		color: #25D366;
	}
	&.fa-telegram:hover{
		color: #0088cc;
	}
	&.fa-instagram-square:hover{
		color: #833ab4;
	}
	&.fa-facebook-messenger:hover{
		color: #0078FF;
	}
}

%footerSocial{
	display: inline-block;
	width: 50px;
	height: 50px;
	background-size: cover;
}

@include footerSocialIcons;